<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/" color="primary" mode="md">
    </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="ion-margin-center"></div>
    <ion-slides (ionSlideDidChange)="OnSlideDidChange()">
      <ion-slide *ngFor="let marker of markers">
        <ion-card>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="assets\img\TeloPrestoLogo.png">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap">              
              <h2>{{marker.categoria}}</h2>
              <p>{{marker.descripcion}}</p><br>
              <p class="colorTest"><b>Valor: ${{marker.precio}}</b></p>
              <!-- <p ><b>Hora inicio: {{marker.hora_ini}}</b></p>
              <p ><b>Hora ter: {{marker.hora_ter}}</b></p> -->
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-slide>
    </ion-slides>
</ion-content>
